.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
}

#map {
  grid-column: 1;
  grid-row: 1;
}

#inputsFinesse {
  grid-column: 2;
  grid-row: 1;
}

#markers {
  grid-column: 1;
  grid-row: 2;
}