.container {
  /*align-items: center;*/
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 66% 33%;
  grid-gap: 20px;
  /* ajustez cette valeur selon vos besoins */
  height: 100vh;
}

#map {
  grid-row: 1;
  grid-row-end: 1;
  grid-column: 1;
  grid-column-end: 4;
}

#inputsFinesse {
  grid-row: 2;
  grid-row-end: 2;
  grid-column: 1;
  grid-column-end: 1;
  justify-content: end;
}

#markers {
  grid-row: 2;
  grid-row-end: 2;
  grid-column: 2;
  grid-column-end: 2;

  /* centre horizontalement */
  text-align: center;
  /* centre verticalement  */
  line-height: 100%;
}

#datas {
  grid-row: 2;
  grid-row-end: 2;
  grid-column: 3;
  grid-column-end: 3;
}