.container {
  /*align-items: center;*/
  display: grid;
  grid-template-columns: 65% 50%;
  grid-template-rows: 65% 50%;
  grid-gap: 20px;
  /* ajustez cette valeur selon vos besoins */
  height: 100vh;
}

#map {
  grid-column: 1;
  grid-row: 1;
}

#inputsFinesse {
  grid-column: 2;
  grid-row: 1;
  /* centre verticalement  */
  line-height: 100%;
}

#markers {
  grid-column: 1;
  grid-row: 2;
  /* centre horizontalement */
  text-align: center;
  /* centre verticalement  */
  line-height: 100%;
}